// flexbox
@mixin flex-row-center-around {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

@mixin flex-row-center-between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-column-start-center {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

@mixin flex-row-center-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@mixin flex-column-center-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin flex-row-start-start {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: flex-start;
}

@mixin flex-row-start-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
}