section#about {
    max-width: 1280px;
    margin: auto;
    div.container {
        @include flex-column-center-center;

        div.text-content {
            color: $grey;

            a {
              color: $grey;
              text-decoration: underline;
              transition: color 1s ease-in-out;
            }
            a:hover {
              color: $violet;
            }
        }
    }


    // medias queries
    @media screen and (min-width: 700px) {
       flex-direction: row;
       justify-content: space-between;
       align-items: end;
       
       picture {
        order: -1;
      }

      div.container {
        margin-right: 2rem;
        align-items: start;
      }
    }
}
